---
const mainNavItems = [
  {
    title: "Home",
    href: "/nerd-fitness/",
  },
  {
    title: "About",
    href: "/nerd-fitness/about",
  },
  {
    title: "Classes",
    href: "/nerd-fitness/classes",
  },
  {
    title: "Plans",
    href: "/nerd-fitness/plans",
  },
  {
    title: "Contact",
    href: "/nerd-fitness/contact",
  },
];
const secondNavItems = [
  {
    title: "Login",
    href: "/nerd-fitness/login",
  },
  {
    title: "Signup",
    href: "/nerd-fitness/signup",
    isButton: true,
  },
];
---

<nav role="navigation" class="bg-neutral-900 py-4">
  <div role="menu" class="container flex justify-between items-center">
    <a role="menuitem" href="">
      <h1 class="text-white font-bold tracking-wide">NERD FITNESS</h1>
    </a>
    <ul class="hidden md:flex justify-center items-center gap-8">
      {
        mainNavItems.map((navItem) => (
          <li role="menuitem">
            <a class="text-white" href={navItem.href}>
              {navItem.title}
            </a>
          </li>
        ))
      }
    </ul>
    <ul class="hidden md:flex items-center gap-8">
      {
        secondNavItems.map((navItem) => (
          <li role="menuitem">
            <a
              class={navItem.isButton ? `button-primary` : `text-white`}
              href={navItem.href}
            >
              {navItem.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
